@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>James Tisdale</h3>

<address>
    911 Vanderbilt St<br/>
    Birmingham, AL 35206<br/>
    P: 205.616.4053
</address>

<address>
    <strong>email:</strong> <a href="mailto:james.tisdale89@gmail.com">james.tisdale89@gmail.com</a><br />
</address>
