@{
    ViewData["Title"] = "My Family Tree";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Cairo|Maven+Pro|Righteous|Ubuntu+Condensed&display=swap" rel="stylesheet">
    <style>
        .title{
            font-family: 'Franklin Gothic';
            font-size: 128px;
            margin-left:auto;
            margin-right:auto;
        }
        .circleButtons{
            font-family: 'Franklin Gothic';
            font-size: 25px;
            border-radius: 100px;
            color: #fa9f4d;
            
        }
    </style>
</head>
<div>
    <h1 class="title">FamilyDB</h1>
</div>


<div class="list-group-item">
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/1>Tisdale</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/2>Denny</h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/3>Littleton</h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/4>Harkness</h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/5>Elliot</h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/6>Lee</h4>
    <p></p>
</div>