@{
    ViewData["Title"] = "My Family Tree";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Cairo|Maven+Pro|Righteous|Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet" />
</head>

<div>
    <h1 class="title">FamilyDataBase</h1>
</div>


<div class="list-group-item">
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/1>Tisdale</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/2>Denny</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/4>Littleton</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/3>Harkness</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/5>Elliot</a></h4>
    <h4 class="circleButtons"><a href=/FamilyMember/ViewFamilyGroup/6>Lee</a></h4>
</div>