@model List<FamilyMember>
<style>
   
    body {
        background-color: #e0f4ff;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .title {
        color: #fa9f4d;
        font-family: 'Franklin Gothic';
        font-size: 128px;
        background-color: #e0f4ff;
    }

    .circle-button {
        color: #a7cdbd;
        font-family: 'Franklin Gothic';
        font-size: 25px;
        border-radius: 100px;
    }


    .table-head {
        color: #a7cdbd;
        font-family: 'Franklin Gothic Medium';
        font-size: 17px;
    }

    .table-data {
        color: #a7cdbd;
        font-family: 'Franklin Gothic';
        font-size: 17px;
    }

    a:link {
    color: #a7cdbd;
    }

    a:hover {
        color: #f3f9d2;
    }
</style>


<h2 class="title">The Family</h2>

<table class="table">

    <tr>
        <th class="table-head">First Name</th>
        <th class="table-head">Birthday</th>
        <th class="table-head">Astro Sign</th>
        <th class="table-head">Generation</th>  
    </tr>

    @foreach (FamilyMember mem in Model)
    {
<tr>
    <td class="table-data"><a class="table-data" href="/FamilyMember/ViewFamilyMember/@mem.ID/">@mem.FirstName</td>
    <td class="table-data">@mem.BirthMonth/@mem.BirthDay/@mem.BirthYear</td>
    <td class="table-data">@mem.AstroSign</td>
    <td class="table-data">@mem.Generation</td>
</tr>

    }

</table>

<div>
    <a class="circle-button" href="/FamilyMember/InsertFamilyMember/">Add a new Family Member</a>
</div>
<div>
    <a class="circle-button" href="/Home/Index/" >Back</a>
</div>