@model List<FamilyMember>
<style>
   

 
    a:link {
        color: #a7cdbd;
    }

    a:hover {
        color: #ffffff;
    }

    .circle-button {
        font-family: 'Franklin Gothic';
        font-size: 25px;
        border-radius: 100px;
        color: #a7cdbd;
    }

    .table-head {
        font-family: 'Franklin Gothic Medium';
        font-size: 17px;
        color: #a7cdbd;
    }

    .table-data {
        font-family: 'Franklin Gothic';
        font-size: 17px;
        color: #a7cdbd;
        
    }
</style>


<h2 class="title">The Family</h2>

<table class="table">

    <tr>
        <th class="table-head">First Name</th>
        <th class="table-head">Birthday</th>
        <th class="table-head">Astro Sign</th>
        <th class="table-head">Generation</th>  
    </tr>

    @foreach (FamilyMember mem in Model)
    {
    <tr>
        <td class="table-data"><a href=/FamilyMember/ViewFamilyMember/@mem.ID>@mem.FirstName</td>
        <td class="table-data">@mem.BirthMonth/@mem.BirthDay/@mem.BirthYear</td>
        <td class="table-data">@mem.AstroSign</td>
        <td class="table-data">@mem.Generation</td>
    </tr>

    }

</table>

<a href=/FamilyMember/InsertFamilyMember/>Add a new Family Member</a>
<div>
    <a href="/Home/Index">Back</a>
</div>