@model List<FamilyMember>

<h2>Family Group</h2>

<table class="table">

    <tr>
        <th>First Name</th>
        <th>Birthday</th>
        <th>Generation</th>
    </tr>

    @foreach (FamilyMember mem in Model)
    {
        <tr>
            <td>@mem.FirstName</td>
            <td>@mem.BirthDate</td>
            <td>@mem.Generation</td>
        </tr>

    }

</table>