@model List<FamilyMember>

<h2>The Family</h2>

<table class="table">

    <tr>
        <th>First Name</th>
        <th>Birthday</th>
        <th>Astro Sign</th>
        <th>Generation</th>
    </tr>

    @foreach (FamilyMember mem in Model)
    {
        <tr>
            <td><a href=/FamilyMember/ViewFamilyMember/@mem.ID>@mem.FirstName</td>
            <td>@mem.objBirthDate.Month/@mem.objBirthDate.Day/@mem.objBirthDate.Year</td>
            <td>@mem.AstroSign</td>
            <td>@mem.Generation</td>
        </tr>

    }

</table>

<a href=/FamilyMember/InsertFamilyMember/>Add a new Family Member</a>
<div>
    <a href="/Home/Index">Back</a>
</div>